@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
header .header {
  background-color: #fff;
  height: 45px;
}

header a img {
  width: 134px;
  margin-top: -1px;
}

.alert {
  padding: 5px;
  background-color: #ffb3b3;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  display: none;
}

.close-btn {
  float: right;
  margin-right: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.well1 {
  margin-top: 0px;
  border-color: black;
  width: 100%;
}

.bck-btn {
  width: 100px;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid #7267e9;
  cursor: pointer;
  background-color: transparent;
  color: #d2eaf1;
}

.bck-btn:hover {
  background-color: #7267e9;
}
.login-header {
  margin-top: 8px;
}

.login-page {
  width: 420px;
  padding: 8% 0 0;
  margin: auto;
  /* margin-top: 5px; */
}

.login-page .form .login {
  margin-top: -2%;
  margin-bottom: 26px;
  color: white;
}

.form {
  position: relative;
  z-index: 1;
  background: #303247;
  max-width: 4000px;
  color: white;
  height: 300px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background-color: #faebff;
  width: 100%;
  height: 44px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  color: black;
  font-family: "Alkatra", cursive;
}

.login-form ::placeholder {
  color: #26283a;
  opacity: 0.8;
}

.form button {
  font-family: "Alkatra", cursive;
  text-transform: uppercase;
  outline: 0;
  background-color: #7267e9;

  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #26283a;
  font-family: "Alkatra", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 98%;
  height: 100%;
}
